/* body {
  overflow: hidden;
} */
.main-header {
  padding-top: 14px;
  padding-bottom: 8px;
}
.serchicon {
  border-radius: 50%;
  background-color: #f2f3f6;
  margin: 0px 0px 0 43px;
}
.logo-heading {
  text-align: center;
  margin-top: -10px;
}
.main-logo-heading {
  font-size: 30px;
  letter-spacing: 1px;
}
.sub-logo-heading {
  font-size: 11px;
  letter-spacing: 5px;
}
.button-block {
  padding-left: 118px;
}
.sell-button {
  background-color: #003e51;
  width: 138px;
  height: 29px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  border: hidden;
}
.icon {
  margin-left: 16px;
  color: #d4b895;
}

.menu {
  background-color: #f5f6f8;
}
.menu-navbar {
  height: 32px;
  margin-left: 17px;
  margin-right: 5px;
}
.menu-items {
  margin-right: 35px;
  font-size: 14px;
  font-weight: 500;
}
.menu-items-right {
  font-size: 14px;
  font-weight: 500;
}
.menu .navbar-light .navbar-nav .nav-link {
  color: black;
}
.menu .nav-link {
  padding-left: 22px;
}

.main-work-block {
  background-color: #e8e8e8;
  height: 484px;
}
.work {
  padding-top: 42px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.sell_block {
  padding-left: 197px;
  margin-top: 27px;
}
.heading-name {
  float: left;
  list-style-type: none;
  padding: 0px 18px;
  font-size: 16.5px;
}
.sell {
  font-weight: 500;
}
.buy {
  border-right: 1px solid #707070;
  border-left: 1px solid #707070;
  padding: 0px 18px;
  height: 32px;
  color: #707070;
}
.rent {
  color: #707070;
}

.content-block {
  padding: 60px 43px 0px 50px;
}
.sub-content {
  font-size: 12.5px;
  padding: 20px 0px 0px 8px;
  color: #707070;
  line-height: 16px;
}
.learn-button {
  background-color: #ffffff;
  text-transform: uppercase;
  height: 30px;
  width: 100px;
  font-size: 12px;
  border: 1px solid #d4b895;
  margin-left: 41.2%;
  margin-top: 25px;
  font-weight: 600;
}
.main-right-block {
  background-color: #d95c74;
}
.right-text {
  font-size: 50px;
  color: #fff;
  line-height: 64px;
  margin-top: 156px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 108px;
}
.main-Item-bar {
  padding: 15px 0px 15px 0px;
  background-color: #f5f6f8;
  height: 125px;

  box-shadow: 0px 0px 8px 0px #cdcdcd;
}
.item-bar {
  float: left;
  list-style-type: none;
}
.item-image {
  border-radius: 50%;
  height: 72px;
  background-color: black;
  width: 72px;
  margin: 0px 28px;
}
.item-name {
  font-size: 12.5px;
  margin-top: 3px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.MuiGrid-root .cards {
  margin-right: 40px;
  margin-bottom: 22px;
}
.card-product {
  width: 235px;
  height: 323px;
  background-color: #f5f6f8;
  padding: 6px 14px;
}
.profile-image {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.profile-name {
  font-size: 13.5px;
  font-weight: 600;
  margin-left: 12px;
  margin-top: 8px;
}
.follow {
  margin-left: 9px;
  font-size: 10.5px;
  color: #d4b895;
}
.card-image {
  width: 206px;
  height: 208px;
  border-radius: 0%;
  margin-top: 4px;
}
.product-main-name {
  font-size: 13px;
  font-weight: 650;
  margin-top: 4px;
  text-transform: uppercase;
}
.heart-icon {
  float: right;
  margin-top: 4px;
  color: #707070;
}
.product-sub-name {
  font-size: 12px;
  color: #707070;
  font-weight: 600;
  margin-top: -3px;
  margin-bottom: 0px;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}
.buy-price {
  font-size: 12px;
  font-weight: 650;
  color: #003e51;
  margin-top: 2px;
}
.size {
  font-size: 12.5px;
  float: right;
  margin-top: -27px;
  font-weight: 600;

  h6 {
    font-size: 7px;
    margin-top: -2px;
    font-weight: 400;
    color: #707070;
  }
}
.rent-price {
  font-size: 12.5px;
  margin-top: -20px;
  color: #003e51;
  font-weight: 600;
}
.footeritem-1 {
  padding: 18px 0px 0px 125px;
  color: #ffffff;
  font-size: 13.5px;
  div {
    font-size: 11px;
    line-height: 0px;
    margin-top: 10px;
    color: #a0a0a0;
  }
}
.footeritem-2 {
  padding: 18px 0px 0px 140px;
  color: #ffffff;
  font-size: 13.5px;
  div {
    font-size: 11px;
    line-height: 0px;
    margin-top: 10px;
    color: #a0a0a0;
  }
}
.footeritem-3 {
  padding: 18px 0px 0px 114px;
  color: #ffffff;
  font-size: 13.5px;
  div {
    font-size: 11px;
    line-height: 0px;
    margin-top: 10px;
    color: #a0a0a0;
  }
}
.footeritem-4 {
  padding: 18px 0px 0px 83px;
  color: #ffffff;
  font-size: 13.5px;
  div {
    font-size: 11px;
    line-height: 0px;
    margin-top: 10px;
    color: #a0a0a0;
  }
}
.footeritem-5 {
  padding: 18px 0px 0px 55px;
  color: #ffffff;
  font-size: 13.5px;
  div {
    font-size: 11px;
    line-height: 0px;
    margin-top: 10px;
    color: #a0a0a0;
  }
}
.footeritem-6 {
  padding: 18px 0px 0px 30px;
  color: #ffffff;
  font-size: 13.5px;
  div {
    font-size: 11px;
    line-height: 0px;
    margin-top: 10px;
    color: #a0a0a0;
  }
}
.footer-second {
  border-top: 1px solid #4b4b4b;
  margin: 0px 45px;
  width: 100%;
}
